.btn1{
	font-family: "'微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif";
  font-size: 18px;
  width: 70px;
	height: 50px;
	line-height: 18px;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	border-radius: 1px;
	margin: 0 0px 0 0px;
	border: 0px solid #3383da;
	color: #000000;
	background-color: #c9c9c9;
}

.btn2{
	font-family: "'微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif";
  font-size: 18px;
  width: 70px;
	height: 50px;
	line-height: 18px;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	border-radius: 1px;
	margin: 0 0px 0 0px;
	border: 0px solid #3383da;
	color: #000000;
	background-color: #e7e7e7;
}

.pic{
  width: 80px;
  height:80px;
  background-image:url(pcr.png);
}

.img{
	width:240px;
	height:240px;
	padding: 0 0 0 40px;
}
